/* リセットスタイル */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font: 18px;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-list li a:hover {
    color: #ccc;
}

/* 掲示板index */
body {
    background-color: #3d31a9;
    background-size: contain;
}

.title {
    text-align: center;
    color: #f3eded;
    font-size: 34px;
    
}

.subTitle {
    text-align: center;
    color: #f3eded;
    font-size: 15px;
}

.threadWrapper {
    background-color: #f3eded;
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
}

.childWrapper {
    border: 1px solid black;
    padding: 10px;
}

.threadTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 6px;
    height: 60px;
}

.threadTitle h1 {
    color: rgb(8, 0, 255);
    margin-left: 3px;
    font-size: 27px;
}

section {
    padding: 0 10px;
}

section .nameArea {
    display: flex;
    align-items: center;
    margin-bottom: -14px;
}

section .username {
    color: rgb(29, 116, 49);
    font-weight: 700;
}

section .comment {
    margin-top: 0;
    margin-left: 20px;
}

.formWrapper {
    padding: 16px;
    margin-left: 20px;
}

.commentTextArea {
    margin-top: 10px;
    max-width: 100%;
    max-height: 100px;
}

.errorMessage {
    color: red;
    margin-left: 70px;
}

.newThreadWrapper {
    background-color: #6167db;
    padding: 10px;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.newChildThreadWrapper {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.newChildThreadWrapper button a {
    width: 150px;
    color: black;
    text-decoration: none;
}

.createThreadImg{
    margin-top: 50px;
    width: 200px;
}

.searchImg{
    margin-top: 50px;
    width: 200px;
}