/* リセットスタイル */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* index.php */
body {
    background-size: contain;
    background-color: #212529;
}

.titleIndex {
    font-size: 70px;
    color: aliceblue;
    text-align: center;
}

.subtitleIndex {
    color: aliceblue;
    text-align: center;
}

/* header.php */
.title {
    text-align: center;
    color: #f3eded;
    font-size: 34px;
}

.subTitle {
    text-align: center;
    color: #f3eded;
    font-size: 15px;
}

/* linkIndex.php */
.linkIndexItems {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    text-align: center;
    padding: 0%;
    width: 100%;
}

.linkIndexItem {
    float: center;
}

.linkIndexItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.linkIndexItem a:hover {
    background-color: #111;
}

/* indexのfooter */
.footerItems {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #242753;
    text-align: center;
    padding: 20px 0;
}

.footerItem {
    display: inline;
    margin: 0 30px;
}

.footerItem a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.footerItem a:hover {
    color: #dddddd;
}


/* thread.php */
.threadWrapper {
    background-color: #b1b1b1;
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
}

.threadTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 6px;
    height: 60px;
}

.threadTitle h1 {
    color: rgb(8, 0, 255);
    margin-left: 3px;
    font-size: 20px;
    font-weight: bold;
}

/* commentSection.php */
section {
    padding: 0 50px;
}

section .nameArea {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

section .username {
    color: rgb(29, 116, 49);
    font-weight: bold;
}

section .comment {
    margin-left: 20px;
}

/* commentForm.php */
.formWrapper {
    padding: 20px;
    margin-left: 20px;
}

.namePost {
    border-radius: 5px;
    width: 200px;
}

.commentTextArea {
    margin-top: 10px;
    width: 70%;
    max-width: 100%;
    height: 100px;
    border-radius: 10px;
}

.buttonPost {
    margin-top: 10px;
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

/* validation.php */
.errorMessage {
    color: red;
    margin-left: px;
}

/* newThreadButton.php */
.newThreadWrapper {
    background-color: #242753;
    padding: 10px;
    max-width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}

.newThreadWrapper a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 30px;
}

/* createThread page */
.createThreadImg {
    margin-top: 50px;
    width: 200px;
}

/* searchThread page */
.searchImg {
    margin-top: 50px;
    width: 200px;
}