/* リセットスタイル */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* 掲示板index */
body {
    background-size: contain;
}

/* header.php */
.title {
    text-align: center;
    color: #f3eded;
    font-size: 34px;

}

.subTitle {
    text-align: center;
    color: #f3eded;
    font-size: 15px;
}

/* thread.php */
.threadWrapper {
    background-color: #b1b1b1;
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 20px;
}

.threadTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-left: 6px;
    height: 60px;
}

.threadTitle h1 {
    color: rgb(8, 0, 255);
    margin-left: 3px;
    font-size: 20px;
    font-weight: bold;
}

/* commentSection.php */
section {
    padding: 0 50px;
}

section .nameArea {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

section .username {
    color: rgb(29, 116, 49);
    font-weight: bold;
}

section .comment {
    margin-top: 0;
    margin-left: 20px;
}

/* commentForm.php */
.formWrapper {
    padding: 20px;
    margin-left: 20px;
}

.commentTextArea {
    margin-top: 10px;
    width: 70%;
    max-width: 100%;
    height: 100px;
}

.buttonPost {
    margin-top: 10px;
    background-color: rgb(70, 70, 70);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

/* validation.php */
.errorMessage {
    color: red;
    margin-left: 70px;
}

/* newThreadButton.php */
.newThreadWrapper {
    background-color: #242753;
    padding: 10px;
    max-width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
}

.newThreadWrapper a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 30px;
}

/* createThread page */
.createThreadImg {
    margin-top: 50px;
    width: 200px;
}

/* searchThread page */
.searchImg {
    margin-top: 50px;
    width: 200px;
}